.Details-table {
  font-size: 20px;
}

.Fetching-message {
  text-align: center;
  position: relative;
  font-size: 24px;
  clear: both;
}

.Location-dropdown-container {
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1000;
  border-radius: 20px;
  flex: auto;
}

.Location-search-input {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border: honeydew;
  display: block;
  padding: 16px;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
}

.sup {
  vertical-align: top;
  position: relative;
  top: -0.5em;
}

.Title-location {
  position: relative;
  color: Black;
  float: left;
  font-size: 2rem;
  font-family: sans-serif;
}

.Title-time {
  position: relative;
  color: grey;
  float: left;
  font-size: 24px;
  font-family: sans-serif;
  clear: left;
}

.Topbar {
  height: 80px;
  padding: 16px;
}

.Weather-icon {
  margin-right: 2rem;
}
